@import 'global' ;

body{
    background-color: #e9e9e9;
    
        
    .navbar {
        
        
        .navbar-nav {
            font-size: 20px;
        }
        .search {

            color: $white-suit;
        
        }
        .perfil {
            color: $white-suit;
        }
        .log-in {
            
            
            li{
                a{
                    color: #f4f7f6;
                }
            }
        }
        
        

        
        
        
    }

    
    
}