.log-in li > a {
    color: #f4f7f6;
    display: flex;
    margin: 20px;
    font-size: 20px;
    text-align: center;

}
.log-in {
    margin-top: 12px;
}
.container-fluid {
    height: 50px;
    align-items: center;
}
.btn {
    background-color: #212529;
    border:  1px  #212529;
    font-size: 20px;
    

}
.Perfil .bi-person {
    color: #f4f7f6;

}
.nav-item {
    padding-left: 15px;
    padding-right: 15px;
    
    
}
.nav-item > a {
    font-size: 20px;
}
.btn-secondary > .perfil {
    color: #f4f7f6;
}
.btn-link {
    border: #212529;
    font-weight: 400;
    color: #f4f7f6;
    text-decoration: underline;
    background-color: #212529;
    
}

.navbar-dark {
    background-color: #212529;
    height: 60px;
    margin-bottom: 10px;
    
}


.carousel {
    
    height: 600px;
    overflow: hidden;
    background-color: #e9e9e9;
    margin-top: 65px;
}
.carousel-control-prev, .carousel-control-next {
    width: 5%;
    

}
.d-flex {
    display: flex;
    justify-content: center;
}
.card1 {
    margin-left: 10px;
    margin-right: 10px;
}
.carousel .card {
    margin-left: 10px;
    margin-right: 10px;
}
.card-img-top {
    height: 380px;
}
.card-libros{
    width: 10px;
    
}
.text-center {
    text-align: center!important;
    margin-top: 50px;
    padding: 30px;
    background-color: #e9e9e9;
    border: none;
    cursor: auto;
    
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    background-color: #212529;

}
.text-center > .c-lm {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 200px;
    padding: 1.25rem;
    background-color: #8daba8;
    cursor: auto;
}
.text-white {
    font-size: 30px;
}
.flecha{
    font-size: 39px;
    margin-bottom: 0;
    
}
.seccion-mangas, .seccion-libros{
    margin-bottom: 0;
    font-size: 20px;
}
.btn-mangas, .btn-libros{
    background-color: white;
    margin-top: 20px;
}
.btn-card {
    display: flex;
    flex-direction: column;
}
.botonera{
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
}
.botonera-botones, .botonera-botones-1, .botonera-botones-2{
    display: flex;
    width: 15%;
    padding: 5%;
    justify-content: space-around;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botonera-botones-1 {
    margin-left: 100px;

}
.botonera-botones-2 {
    margin-right: 100px;

}
.seccion-boton{
    color: #f4f7f6;
    
}
.botonera-botones, .botonera-botones-1, .botonera-botones-2 > p {
    font-size: 15px;


}
.Tus-secciones {
    display: flex;
    flex-direction: row;
    

}
.card-eventos {
    
    margin-left: 20px;
    margin-right: 20px;
    
}

.footer-section {
    border-radius: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 300px;
    background-color: #212529;
}
.ms-footer-section{
    height: 100%;
    width: 30%;
    background-color: #212529;
    border: 1px #212529;
}
.footer-section-df {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.logo-img {
    color: #f4f7f6;
    text-decoration: none;
}
.ms-footer-section .card-body p {
    font-size: 20px;
    
}
.usuario {
    color: #f4f7f6;
}
a:hover {
    
    text-decoration: none;
}
.donar-footer{
    margin-top: 10px;
    margin-bottom: 0;
}
.body-footer {
    background-color: #212529;

    
}
.celular-360 {
    display: none;
}
